# Build outputs
autotuner
matmul
autotuner.exe
matmul.exe
*.o
*.out
*.exe

# Python cache
__pycache__/
*.pyc

# OS / editor files
.DS_Store
.vscode/
.idea/

plots/
results/

.devcontainer

report.pdf
